<div class="text-center">
  <h2>the way to <%= @map.name %></h2>
</div>

<br></br>
<br></br>

<ul style="list-style:none;">
  <% @pages.each do |page| %>
    <button type="button" class="btn btn-default font-weight:3">
      <li><%= page.page_number %>/<%= @pages.length %></li>
    </button>
　　<% if page.image? %>
　　  <li><%= image_tag page.image.url, class: 'img-responsive' %></li>
　  <% else %>
　　  <li><%= image_tag 'noimage.gif', class: 'img-responsive' %></li>
　  <% end %>
    <li><%= simple_format(page.text) %></li>
    <% if page.content? %>
      <br></br>
      <br></br>
      <li class="text-muted text-center">Wifi password↓(copy here!)</li>
      <br></b>
      <li class="bg-info text-center"><%= page.content %></li>
    <% end %>
    <% if logged_in? %>
      <%= link_to 'このページを編集する', edit_page_path(page), class: 'btn btn-block btn-primary' %>
    <% end %>
  <% end %>
</ul>
<% if logged_in? %>
  <%= link_to 'このマップを編集する', edit_map_path(@map), class:'btn btn-block btn-primary' %>
<% end %>
<% if current_user == @map.user %>
  <%= link_to "Delete", @map, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
<% end %>
<br></br>
<br></br>
<br></br>
