<div class="text-center">
  <h3>the way to <%= @map.name %></h3>
</div>

<ul>
  <% @pages.each do |page| %>
    <li><%= page.page_number %>/<%= @pages.length %></li>
    <li><%= page.image %></li>
    <li><%= page.text %></li>
  <% end %>
</ul>

<%= link_to 'このマップを編集する', edit_map_path(@map), class:'btn btn-block btn-primary'%>

<% if current_user == @map.user %>
  <%= link_to "Delete", @map, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
<% end %>
