<div class='text-center'>
  <h3>create new page</h3>
</div>

<div class="row">
  <aside class="col-md-4">
    <%= form_for(@page, url: map_pages_path(@map) ) do |f| %>
     <div class="form-group">
       <%= f.label :page_number, 'page_number' %>
       <%= f.number_field :page_number, class: 'form-control'%>
     </div>
      <div class="form-group">
        <%= f.label :img %>
　    　<%= f.file_field :image, class:'form-control' %>
　    　<%#= f.hidden_field :image_cache %>
      </div>
        <div class="form-group">
          <%= f.text_area :text, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :content, 'Wifi password' %>
          <%= f.text_field :content, class: 'form-control'%>
        </div>
       <%= f.submit 'create',class:'btn btn-block btn-primary'%>
    <% end %>
  </aside>
</div>